.container {
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	.Switch {
		background-color: #00B374;
		width: 4.5em;
		height: 2em;
		border-radius: 1.5em;
		padding: 0 0.2em;
		// margin: 0 1.5em;
		position: relative;
		.handle {
			position: absolute;
			top: 13%;
			right: 5%;
			width: 1.5em;
			height: 1.5em;
			background-color: white;
			border-radius: 100%;
			transition: right 0.25s linear;
		}
		.handleOff {
			right: 60%;
		}
		.iconLock {
			background-image: url("../../../assets/icons/lock.svg");
			background-size: 0.7em 0.7em;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.SwitchOff {
		background-color: #FF4040;
	}
	.active {
		color: #00B374;
		font-size: larger;
	}
	.deactive {
		color: #FF4040;
		font-size: larger;
	}
	.switchGrayColor {
		background-color: #CCCCCC;
	}
	.textGrayColor {
		color: black;
		font-size: larger;
	}
}
